:root {
  --default: #000000;
  --button-outline-grey: #222;
  --button-outline-light-gray: #555;
}

body {
  background-color: var(--default);
}

a {
  text-decoration: none;
  color: var(--button-outline-light-gray);
}

li {
  list-style: none;
}

.navbar {
  display: flex;
  align-items: center;
  border-radius: 0;
  min-height: 80px;
}

@media (max-width: 991px) {
  .navbar {
    justify-content: space-around;
  }
}

.navbar-brand {
  font-size: 3.5rem;
  transform: translateY(-70%);
}

.navbar-default {
  background: var(--default);
  border-color: var(--default);
}

.carousel-inner {
  height: 600px;
}

.carousel-inner .item {
  width: 100% !important;
  height: 100% !important;
}

.carousel-inner .item img {
  width: 100% !important;
  height: 100% !important;
}

.mt-10 {
  margin-top: 10rem;
}

.mtb-10 {
  margin: 10rem auto;
}

.text-dark {
  color: rgba(0, 0, 0, 0.6);
}

.m-auto {
  margin: 0 auto;
}

.outline {
  background: transparent;
  border-radius: 0;
  color: var(--button-outline-grey);
  border: 1px solid var(--button-outline-grey);
  transition: all 0.3s ease-in-out;
}

.outline:hover, .outline:active, .outline:focus {
  background: var(--button-outline-grey);
  color: #fff;
  border: 1px solid var(--button-outline-grey);
}

.light-outline {
  background: transparent;
  border-radius: 0;
  color: var(--button-outline-light-gray);
  border: 1px solid var(--button-outline-light-gray);
  transition: all 0.3s ease-in-out;
}

.light-outline:hover, .light-outline:active, .light-outline:focus {
  background: var(--button-outline-light-gray);
  color: #fff;
  border: 1px solid var(--button-outline-light-gray);
}

.greyscale {
  filter: grayscale(100%);
}

.none {
  display: none;
}

#navigacija .hover {
  font-size: 2rem !important;
}

#navigacija .hover:hover {
  color: #fff;
}

#background {
  background: url("../img/fimg2.jpg") no-repeat center top;
  background-attachment: fixed;
  background-size: cover;
  min-height: 800px;
  display: flex;
}

#background .jumbotron {
  background: rgba(255, 255, 255, 0.4);
  margin: auto;
}

#first_photo {
  background: url("../img/firstphoto.jpg") no-repeat center top;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  min-height: 700px;
}

#second_photo {
  background: url("../img/secondphoto.jpeg") no-repeat center top;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  min-height: 700px;
}

.separator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  min-height: 300px;
}

.separator h1 {
  font-size: 5rem;
  color: rgba(255, 255, 255, 0.5);
}

.separator p {
  font-size: 2.5rem;
}

.separator a {
  width: 48px;
  margin: 0 auto;
  border-radius: 5px;
}

#shop .col-md-4 {
  height: 300px;
  margin-bottom: 100px;
}

#shop .col-md-4:nth-child(1) {
  margin-top: 100px;
}

#shop .col-md-4:nth-child(2) {
  margin-top: 100px;
}

#shop .col-md-4:nth-child(3) {
  margin-top: 100px;
}

#shop .thumbnail .btn-org {
  background-color: orangered;
  border: 1px solid orangered;
}

#shop .thumbnail .grey {
  filter: grayscale(100%);
}

#shop .thumbnail img {
  height: 200px;
  width: 100%;
}

#inventors img {
  width: 100%;
  height: 200px;
}

.margin-top {
  margin-top: 100px;
}

@media (min-width: 991px) {
  .sprt {
    margin-top: 40px;
    margin-left: 80px;
  }
}

@media (min-width: 991px) {
  .sprtt {
    margin-top: 40px;
    margin-left: 160px;
  }
}

.bold {
  font-size: 25px;
  color: #555;
}

.mbold {
  font-weight: 18px;
  color: #555;
}

.white {
  color: rgba(255, 255, 255, 0.5);
}

@media (min-width: 480px) {
  #inventors .row {
    text-align: center;
  }
}

#footer #social {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 480px) {
  #footer #social {
    justify-content: space-around;
  }
}

#footer #social img {
  width: 60px;
  height: 40px;
}

#footer #footer-menu {
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 480px) {
  #footer #footer-menu {
    justify-content: space-around;
  }
}

#footer #footer-menu li {
  list-style: none;
}

#footer #footer-menu li a {
  text-decoration: none;
}

#footer #footer-menu li:hover a {
  color: white;
}

@media (max-width: 768px) {
  .margin-sm-top {
    margin-top: 50px !important;
  }
}

.s {
  display: flex;
  flex-direction: column;
  padding: 3rem 0;
}

.logo {
  width: 300px;
  height: 100px;
}
/*# sourceMappingURL=style.css.map */