$color: red;


.margin-top{
    margin-top: 100px;
}
.sprt{
    margin-top: 40px;
    margin-left: 80px;
}
.container{
    .row{

        .media{

            .media-left{

                img{
                    border-radius: 5px;

                }
            }
            
            
        }

    }



}
.bold{
    font-size: 25px;
    color: $button-outline-light-gray;
}
.mbold{
    font-weight: 18px;
    color: $button-outline-light-gray;
}